<ion-view view-title="Ajustes" class="dark" ng-init="mostrar()">
  <ion-content class="padding">
    <ul class="list">
        <li class="item item-toggle ">
            Eventos
            <label class="toggle">
                <input type="checkbox" disabled="disabled">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </li>
        <li class="item item-toggle">
            Gastronomia
            <label class="toggle">
                <input type="checkbox" disabled="disabled">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </li>
        <li class="item item-toggle">
            Mascotas
            <label class="toggle">
                <input type="checkbox" disabled="disabled">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </li>
        <li class="item item-toggle">
            Novedades
            <label class="toggle">
                <input type="checkbox" disabled="disabled">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </li>
        <li class="item item-toggle">
            Shopping
            <label class="toggle">
                <input type="checkbox" disabled="disabled">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </li>
    </ul>
    <p>
        Quieres llegar a más personas a través de una experiencia personalizada?
        <a href="mailto:info@pooock.com" style="color:white">Contáctanos</a>
    </p>
    <button class="button button-full" ng-controller="AppCtrl" ng-click="salir()">
        Cerrar sesión
    </button>
  </ion-content>
</ion-view>
