<ion-view view-title="Recibe lo que quieres recibir" class="dark" ng-init="mostrar()">
  <ion-content class="padding">
    <ion-list class="dark">
        <ion-checkbox ng-repeat="item in categorias"
                      ng-model="item.checked" 
                      ng-checked="item.checked">
          {{ item.text }}
        </ion-checkbox>
    </ion-list>
    <p>
        Quieres llegar a más personas a través de una experiencia personalizada? 
        <a href="mailto:info@pooock.com" style="color:white">Contáctanos</a>
    </p>
  </ion-content>
</ion-view>
