<ion-view view-title="Let's Pooock!" class="dark">
  <ion-content class="padding">

    <div class="rotate">
      
      <p style="text-align:center;">
        <img src="img/logo.png" alt="logo" style="width:90%">
      </p>
      
      <p style="text-align:center;">
        <ul style="text-align:center;">
          <li ng-show="geolocalization"><span ng-show="geolocalization" ng-hide="address">GPS: {{geolocalization}}</span> <span ng-show="address">{{address}}</span></li>
          <!-- <li ng-controller="AppCtrl" ng-click="checkupdate()" ng-show="version">v{{version}}</li> -->
        </ul>
      </p>
      
    </div>

  </ion-content>
</ion-view>
