<ion-view view-title="Cercanos" class="dark" ng-init="mapa()">
  	<ion-content scroll="false" data-tap-disabled="true">
        <ng-map
        	center="current-location"
        	class="ngMap"
        	zoom-control="true"
      		zoom-control-options='{style:"small", position:"top_left"}'>
        	<marker position="current-location" title="Let's Pooock!"></marker>
        	<marker
        		ng-repeat="t in timeline"
        		position="{{t.lat}},{{t.lon}}"
        		title="{{t.title}}">
        	</marker>
            <shape name="circle"
                no-watcher="true"
                stroke-color="#F7C723"
                stroke-opacity="0.2"
                stroke-weight="1"
                fill-color="#F7C723"
                fill-opacity="0.25"
                center="current-location"
                radius="250">
            </shape>
        </ng-map>
    </ion-content>
</ion-view>
