<ion-view view-title="Timeline" class="dark">
  <ion-content>
    <ul class="timeline">
      <li ng-repeat="i in timeline">
        <div
          ng-hide="i.img"
          class="timeline-thumb bg-color-yellow timeline-icon">
          <i class="{{i.icon}}"></i>
        </div>
        <img
          ng-show="item.img"
          src="{{i.img}}"
          alt="{{i.title}}"
          class="timeline-thumb" />
        <div class="timeline-item">
          <h4>{{i.title}}</h4>
          <p>{{i.text}}</p>
          <div class="timeline-stats">
            <i class="ion-heart"></i> 
            {{i.actions.ratings.total}}
            <i class="ion-thumbsup"></i> 
            {{i.actions.votes.total}}
            <i class="ion-map"></i> 
            <span ng-show="lat">{{i.lat|distance:i.lon:lat:long }}</span>
            <span class="pos-absolute-right">
              <i class="ion-ios-clock"></i> 
              <span am-time-ago="i.dt_create"></span>
              <!-- {{i.dt_create}} -->
            </span>
          </div>
        </div>
      </li>
    </ul>
  </ion-content>
</ion-view>
