/* Empty. Add your own CSS if you like */

div.content, .dark, h2, h3, div.item, .bgFull {
	background-color: #F7C723 !important;
	color: #fff;
}

.rotate {
	/*background-color: #f90;*/
	height: auto;
	width: 100%;
	padding: 80px 0;
}

.rotate h2 {
	color: #fff;
	margin-left: 15px;
	text-align: center;
}

.rotate h3 {
	color: #fff;
	text-align: center;
}

.rotate h5 {
	text-align: left;
	margin-left: 15px;
}

/* */

.pos-absolute-right {
    position: absolute;
    right: 8px;
}

.timeline {
    color: #fff;
    font-family: sans-serif;
    position: relative;
    margin: 15px 0 0 0;
}

.timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5px;
    background: #afdcf8;
    left: 44px;
    margin-left: -10px;
    z-index: 1;
}

.timeline .timeline-thumb {
    border-radius: 500px;
    width: 50px;
    z-index: 2;
    position: absolute;
    left: 10px
}

.timeline .timeline-thumb.timeline-icon {
    height: 50px;
    text-align: center;
    color: white;
    border: 5px solid #CBD0D3;
}

.timeline .timeline-thumb.timeline-icon i {
    font-size: 28px;
    margin: 6px 0;
    display: block;
}

.timeline .timeline-item {
    margin-left: 72px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}

.timeline .timeline-stats {
    position: relative;
    font-size: 12px;
    /*color: #7F8C8D;*/
}


.divider-title {
    /*background: #e4e4e4;*/
    padding: 5px 15px;
}

/* === Color Themes === */
.text-muted {
    /*color: #6d6d72 !important;*/
}

.color-gray {
    color: #8e8e93 !important;
}

.color-red {
    color: #ff3b30 !important;
}

.bg-color-red {
    background-color: #ff3b30 !important;
}

.color-white {
    color: #ffffff !important;
}

.color-yellow {
    color: #ffcc00 !important;
}

.bg-color-yellow {
    background-color: #ffcc00 !important;
}

.color-green {
    color: #4cd964 !important;
}

.color-orange {
    color: #ff9500 !important;
}

.bg-color-orange {
    background-color: #ff9500 !important;
}

.color-blue {
    color: #007aff !important;
}

.bg-color-blue {
    background-color: #007aff !important;
}

.color-lightblue {
    color: #5ac8fa !important;
}

.bg-color-lightblue {
    background-color: #5ac8fa !important;
}

.color-bluegray {
    color: #607d8b !important;
}

.bg-color-bluegray {
    background-color: #607d8b !important;
}

.color-night {
    color: #2B1B17 !important;
}

.color-black {
    color: black !important;
}

.bg-color-white {
    background-color: #ffffff;
}

.bg-color-green {
    background-color: #4cd964 !important;
}

/* Maps */
.ngMap {
  height: 100% !important;
  min-height: 100% !important;
  width: 100%;
}

.slide, .currentSlide, .ion-slide-box {
    background-color: #F7C723;
    font-family: 'Open Sans Condensed', sans-serif;
}
.slide h3, .slide p {
    color: #fff;
    text-align: center !important;
}
.previsual  {
    margin: 0px;
    width: 100% !important;
    text-align: center;
}
.previsual img {
    height: 350px !important;
}
.currentSlide, .currentSlide h3, .currentSlide p {
    text-align: center !important;
    color: #fff;
}

.swiper-pagination, .slider-pager {
    display: none !important;/* quitar el paginador*/
}
.left, .right{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    height: 49%;
    z-index: 100;
    width: 44px;
    background-color: rgba(0,0,0,0);
}

.left{
    left: 0;
}

.right{
    right: 0;
}
.left button, .right button {
    color: #fff !important;
}


.im-wrapper .logo {
    text-align: center;
}
.logo img {
    max-width: 90% !important;
    width: auto;
}

.ionic-wrapper {
    padding: 10px !important;
}

.appVersion {
    font-weight:lighter;
    color:#fff;
}

.login img {
	width: 100% !important;
}

.popup .popup-head h3.popup-title {
    background-color: transparent !important;
    color: #000 !important;
}